:root {
  // ***********************************
  //  fonts and text
  // ***********************************
  --root-font-size: 16px;

  --ff-primary: 'Fira Sans', sans-serif;

  --fs-300: 1rem; // 16
  --fs-400: 1.25rem; // 20
  --fs-500: 1.375rem; // 22
  --fs-900: 3.625rem; // 56

  --fw-100: 100; // thin
  --fw-300: 300; // light
  --fw-400: 400; // regular
  --fw-700: 700; // bold

  --lh-300: 1.25;
  --lh-400: 1.5;
  --lh-500: 2;




  // ***********************************
  //  colors
  // ***********************************
  --c-primary: #980EE6;
  --c-secondary: #B1E7F8;
  --c-black: #111111;
  --c-white: #fff;
  --c-light-grey: #F3F3F3;
  --c-medium-grey: #525252;
  --c-dark-grey: #313131;




  // ***********************************
  //  viewport width breakpoints (-160px)
  // ***********************************
  --vp-900: 1760px;
  --vp-800: 1600px;
  --vp-700: 1440px;
  --vp-600: 1280px;
  --vp-500: 1120px;
  --vp-400: 960px;
  --vp-300: 800px;
  --vp-200: 640px;
  --vp-100: 480px;
}